/* Background Image Media Queries */
body.login {
	background-image: url('../img/bg/login/1044-640x700.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (min-width: 640px){
	body.login {
		background-image: url('../img/bg/login/1044-960x700.jpg');
	}
}	
@media screen and (min-width: 960px){
	body.login {
		background-image: url('../img/bg/login/1044-1200x900.jpg');
	}
}	
@media screen and (min-width: 1200px){
	body.login {
		background-image: url('../img/bg/login/1044-1600x950.jpg');
	}
}	
@media screen and (min-width: 1600px){
	body.login {
		background-image: url('../img/bg/login/1044-2000x1050.jpg');
	}
}
.uk-dropdown {
  width: auto;
  min-width: 240px;
  padding: 5px 0;
}
.uk-light .uk-button-primary {
  background-color: #f9f06b;
  color: #000000;
}
